pacman_Vanderzee_Fingar/Library/*
Temp/*
obj/*
pacman_Vanderzee_Fingar/Assembly-CSharp-Editor.csproj
pacman_Vanderzee_Fingar/Assembly-CSharp-firstpass.csproj
pacman_Vanderzee_Fingar/Assembly-CSharp.csproj
pacman_Vanderzee_Fingar/pacman_Vanderzee_Fingar.sln
